{% extends 'base.html' %}

{% block content %}

{% load static %}

<head>
    <title>About Us</title>
</head>


    <!-- Main Content -->

    <div class="row shadow-sm p-3 bg-white rounded">
      <div class="col-md-12 mt-3 mb-5">
        <h3 style="color:teal" align="center">About Us</h3>
      </div>

      <div class="col-md-6">
        <img src="{% static 'images/slider-3.jpg' %}" style="height:auto; width:auto" class="img-fluid img-thumbnail">
      </div>
      <div class="col-md-6">
        <h4 style="color:teal">Who We Are</h4>
        <p class="text-justify">
         <p>It is a universal fact that in the overall ambit of life, a person armed with a good education is bestowed
          with an advantage in the quest for success. Whether it is a girl or boy, a <b> "worthwhile"</b> education is
          the most valuable present a parent can gift a child.</p>
         <p>Money is immaterial, when it comes to the question of an admission to a <b>'famous' </b>
         school and parents, to the best of their sense and ability, try to select the finest
         school for their children. </p>
         <p>Every educational institution, I'm sure, makes a sincere endeavour to provide, what is
         generally termed as <b>'quality education'.</b> </p>
      </div>



      <div class="col-md-12">
          <p>More so, each school has its own definition of education and formulates its own unique
              methodology, work environment, ethos and traditions resulting in a vast variety of end
              products. </p>
          <p>Positively, education is not teaching a child to just read, write and become proficient
              in Mathematics and the Sciences. This would surely make a person <b> literate </b> but
              not educated. Unfortunately, many schools in our country are not reaching far beyond
              making their children <b> "literate"</b>. Are we actually happy and satisfied watching
              our kids, spend arduous and tiresome hours in tuition, burdened with the anxiety of
              producing mind-boggling academic results? As parents, we never sincerely contemplate
              and ask ourselves what we expect from our child's school. For most of us, it is solely
              academic proficiency in Board examinations which is synonymous to providing first-rate
              education. Or is the boast of producing an Olympic sportsman or a handful of national
              level players, providing excellent education <b> Then what is quality education </b> </p>
          <p>Ordinarily, "all-round development of the child" is construed to be the primary constituent
              of a "good education" and this is generally accepted as academic competence coupled with
              personality development. Hence a school providing an excellent academic environment
              integrated with a large number of sports and other co-curricular activities would very
              nicely fit the definition of a school providing good education. </p>
         <p>Compared to a day school, boarding schools are far luckier to have the time, inclination
             and infrastructure to do a lot more in the direction of all-round development. Children
             get ample opportunities to learn a lot more than just academics. A rigorous routine of
             physical training, sports, games, hobbies and other co-curricular activities keep students
             extremely occupied. This well-knit schedule of activities adds to the personality development
             and smartness of the child and undoubtedly brings them much closer to having acquired an
             exemplary education. <b>  I'm sure all this is part of providing quality education but
                 I personally feel there is something more to it, which needs serious consideration.</b> </p>
          <p>Education has assisted the world to develop at a phenomenon pace. The world is moving
              very fast and people have little time for each other. Man has become extremely covetous
              and greedy. In these times of avariciousness, selfishness, deceit, corruption, intolerance,
              terrorism, riots, greed and cut-throat competition we need to ponder, search our hearts and
              introspect, as to whether we can proudly call our children <b> "well educated"</b>. We
              are fast forgetting the moral and spiritual part of development. Schools rarely have a
              program related to the teaching of <b>"being good"</b> as opposed to <b> "being
                  successful"</b>, We sure are succeeding in producing rich and <b>"successful"</b>
              human beings but may not be able to say as much for producing <b> "happy"</b> human beings.
              Our traditional teaching institutions<b> (home, school and society)</b> are failing
              miserably in producing <b>'good'</b> human beings.</p>

          <p>We are so involved in teaching children Physics and Chemistry that we have little time
              to teach a child to be good, honest, truthful, compassionate and nice. Who is going to
              teach a child to be virtuous, honourable, selfless, righteous, benevolent and kind?
              The qualities of being tolerant, understanding and broad-minded, to respect all religions,
              to be unbiased in regard to different castes or creeds, race or colour have all been put
              on the back-burner. The language of philanthropy, goodness and love, need to be added to
              refraining from violence, resisting corruption, standing up for ones rights, not bowing
              to tyranny and unfair persecution - in short, to be bold and fearless. To fear only God,
              to respect one`s parents and elders, to be fair in all dealings, to respect the rights
              of others, to be modest and magnanimous, etc. The list is endless and we can go on and
              on. To teach this we need time and effort. There are no books, there is no prescribed
              syllabus. The westerners, whom we take pride in aping, have failed miserably on this
              front. In today's modern fast-moving world, we too are failing in imparting 'high standards
              and value education to our children. We teachers and schools are the ones who need to
              shoulder this huge responsibility. Alongside parents, teachers have to develop the
              inclination and find the time to teach our children these virtues. Are the teachers of
              today 'Gurus' in the real sense? Let us together pledge to inculcate in our children
              the true values of life. We need to be patient and understanding and spend time with
              our children. </p>

       </div>
              <div class="col-md-4 then-img">
                  <img src="{% static 'images/Gary_Oldman.jpg' %}" class="img-fluid img-show">
              </div>
           <div class="col-md-8 mt-4">
           <p> We have to teach them time and again the difference of right from wrong, to overcome evil
               with good, set examples for them to follow and by so doing we would have done far more
               than our duty. The aim of every institution must be to be able to achieve this objective.
               In a letter to his son's teacher the then US President Abraham Lincoln had written <b>
                   Teach my son that it is more honourable to fail than to cheat and pass</b>. There
               can be no school without a society and no society without a school. Schools and parents
               together have to join hands in imparting good <b> Sanskar </b> to their children.</p>

           <p> In this lies the strength of <b> quality education </b> and the true test of a  <b>
               Quality Institution</b>. I would like to conclude by stating that, it is far better to
               have a son or daughter who is <b> 'good' </b> rather than extremely intelligent or
               well-groomed. <b> If God showers your child with the combination of all three qualities
                   brilliance, elegance and goodness then you could not be any richer or luckier</b>.</p>
           <p class="pull-left"><b> <i> Capt J. Gordon <br/> Principal and Executive Director</i></b></p>



          </div>
    </div>




{% endblock %}
