{% extends 'base.html' %}

<head>
    <title>Academics</title>
</head>

{% block content %}

{% load static %}

<div class="top-space"></div>

    <div class="about-us">

     <div class="inner-page-top-sapce"></div>
              <section class="text-style" >
                  <div class="container inner-page-padding">
                    <div class="row"></div>
                        <div class="col-md-12">
                            <div class="title">
                                <h3>Academic Facilities</h3><br>
                            </div>
                                <h4>Affiliation:</h4>
                                <p>Both locations of the school are affiliated to the Central Board of Secondary Education, Delhi (CBSE), and the Sr School is affiliated till the senior secondary level (+2).</p>
                                <h4>Courses of Study:</h4>
                                <p>Courses of study as laid down by the National Council of Educational Research and Training (NCERT) and the syllabi framed by the Central Board of Secondary Education (CBSE), of the Government of India, Delhi are strictly adhered to and followed. The children are prepared to sit for the All India Secondary and Senior Secondary School Examinations, conducted by the CBSE, Delhi.</p>
                                <p>The syllabus provides for and examines a student in English, Hindi, Mathematics, Science (with Practicals), and Social Science. SUPW (Hobbies and Work Experience), Music, Art Education and Physical Education are compulsory. From Class III to Class VIII a third language is also taught.</p>
                               </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Courses-of-Study1.jpg'%}" alt="Courses-of-Study1" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Courses-of-Study21.jpg'%}" alt="Courses-of-Study21" class="img-fluid">
                        </div>
                        <div class="col-md-12">
                             <p>Presently the school is offering Science (Medical and Non-Medical) and Commerce stream with or without Computer Education (Informatics Practices). Physical Education and Mathematics are also available as optional subjects. <br />All textbooks and stationery are provided free of cost. Any special item like atlases, geometry boxes, pens, colours, dictionaries etc are charged to the child''s personal account.</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                           <h4>Classrooms and Teacher-Student ratio:</h4>
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Class-Room1.jpg'%}" alt="Class-Room1" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Class-Room2.jpg'%}" alt="Class-Room2" class="img-fluid">
                        </div>
                        <div class="col-md-12">
                            <p>The classrooms are very modern, large and airy with proper lighting and provide the most conducive atmosphere for learning.</p>
                            <p>All secondary classes in Pinegrove are interactive classrooms with SMART BOARDS, networked computers and DLP Projectors. Many classrooms have Visualizers as well. The computers are networked on LAN and there is a huge repository of educational software, in various subjects and practically for every chapter in the course of study, available on the school servers. The classrooms are fitted with the latest and best equipment available so that the children get the best teaching aids to assist in making the teaching learning process most effective, through computer-aided-teaching (CAT). </p>
                            <p>The children and teachers alike take keen interest in the beautification and adornment of their classrooms.</p>
                            <p>To achieve the highest levels of academic excellence the school maintains a class-section average strength of just 25 pupils in junior classes and 30 pupils in senior classes.</p>
                            <p><b>The teacher-student ratio is a fantastic 1:12.</b></p>
                            </div>
                      </div>
                         <div class="row">
                        <div class="col-md-12">
                           <h4>Classrooms and Teacher-Student ratio:</h4>
                            <p>The aim of computer education in the school is to get the children acquainted with the latest in computer technology and to assist in removing their introversion of the machines. The intention is to make the pupils user-friendly so that they can make best use of computers in the future. Adequate exposure is given to them in Internet, hardware and software technology.<br />The school has installed a very powerful, highly technical, state-of-the-art computer laboratory with a provision for a computer with TFT''s between every two children.  </p>
                            <p>The computers are used for education, accountancy, and management information systems. The computers are networked on LAN with high speed servers and Multi-media capability, attached with colour printers and broadband internet connections. </p>
                            <p>The school uses the latest educational aids such as overhead projectors, multimedia technology, Compact Disc players, video cameras and audio systems as well.</p>
                        </div>
                          <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Computer-Facilities1.jpg'%}" alt="Computer-Facilities1" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Computer-Facilities2.jpg'%}" alt="Computer-Facilities2" class="img-fluid">
                        </div>
                      </div>

                        <div class="row">
                        <div class="col-md-12">
                           <h4>Library:</h4>
                            <p>A well-stocked, informative library is available in both the junior and senior schools. Apple Computers for research are available for Senior Students in the Resource Centre of the Library. The library is often used by the children and has a wide variety of encyclopaedias, reference books, novels, newspapers, magazines and other periodicals. There is a good collection of CDs, DVDs etc in the audio-visual section of the library as well. </p>
                            <p>The library is very effective fo'r broadening the horizons of the children and keeps them entertained, educated and well informed. Most important of all, it facilitates the development of the fast dying ''habit of reading''. </p>
                             </div>
                        <div class="col-md-3 then-imgx4">
                          <img class="img-show" src="{% static 'images/Library-1.jpg'%}" alt="Library" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                          <img class="img-show" src="{% static 'images/Library-2.jpg'%}" alt="Library" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                          <img class="img-show" src="{% static 'images/Library-3.jpg'%}" alt="Library" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                          <img class="img-show" src="{% static 'images/Library-4.jpg'%}" alt="Library" class="img-fluid">
                        </div>
                      </div>

                        <div class="row">
                        <div class="col-md-12">
                           <h4>Laboratories:</h4>'
                   '%}          </div>
                             <div class="col-md-6 then-img">
                              <img class="img-show" src="{% static 'images/lab-01.jpg'%}" alt="Laboratories" class="img-fluid">
                            </div>
                            <div class="col-md-6 then-img">
                              <img class="img-show" src="{% static 'images/lab-02.jpg'%}" alt="Laboratories" class="img-fluid">
                            </div>
                            <div class="col-md-12">
                                <p>Modern and well-equipped science laboratories are available in both schools.The Labs have the requisite essential equipment for conducting practicals for the integrated science course at the secondary school stage, and for the Physics, Chemistry and Biology practicals at the Senior Secondary Stage, as per the requirement of the new curricula and scheme of studies, laid down by the CBSE.  <br />The students themselves have preserved a large variety of specimens in the laboratories and take keen interest in making science projects. </p>
                             </div>
                      </div>
                       <div class="row">
                        <div class="col-md-12">
                           <h4>Evaluation System:</h4>
                            <p>Over the last few years there has been a countrywide debate amongst pedagogues, parents, teachers and members of various educational boards regarding a change in the evaluation system in schools, which by and large has been received with great enthusiasm. Keeping in view the evaluation systems of developed countries and the opinion of the public at large, the CBSE has introduced the CCE (Continuous and Comprehensive Evaluation) and introduced CGPA and Grading System in schools. <br />
                                With this in mind, we have developed software for evaluation in Grades and have introduced the system up to Class X. The Grades A1 down to E have been divided as follows: A1 (91-100%), A2 (81-90%), B1 (71-80%), B2 (61-70%), C1 (51-60%), C2 (41-50%), D (33-40%), E1 (20-33%) and E2 (19% and below). It may not be easy for parents to accept this sudden change hence along with Grades CBSE has devised a method of awarding Grade Points for each Grade. The Grade points are awarded on a 10-point scale (i.e. an A1 will get 10 points, A2 8 and so on and an E2 will get 2 points). To clear the class a child must not have two or more E Grades. </p>
                            <p>The overall performance of the child is represented by a CGPA (Cumulative Grade Point Average), which is the average of all the grade points awarded to the child in the exam. The grade, grade point, CGPA, class average CGPA, CGPA deviation, CGPA range and award of stars are all reflected on the report card issued to the child at the end of each Summative Examination held twice in a year.</p>

                            <h4>Tests and Examinations:</h4>
                            <p>Children are tested regularly and continuously for their academic progress, Class-work, Home-work, Class-tests, Projects, Art education, Physical Education and Work-experience along with their Thinking, Emotional and Social Skills as well. The report cards are sent to the parents three times a year to apprise them of the academic proficiency and progress of the child. To maintain the high standards of education the expectations of the school are high and generally children secure good grades. <br />Barring exceptional cases, where the parent requests so, Pinegrove does not hold back students in the same class upto Class VIII. </p>
                        </div>
                      </div>

                       <div class="row">
                        <div class="col-md-12">
                           <h4>Stars:</h4>'
                   '%}          </div>
                             <div class="col-md-6 then-img">
                              <img class="img-show" src="{% static 'images/star1.jpg'%}"alt="Stars" class="img-fluid">
                            </div>
                            <div class="col-md-6 then-img">
                              <img class="img-show" src="{% static 'images/star2.jpg'%}" alt="Stars" class="img-fluid">
                            </div>
                            <div class="col-md-12">
                                <p>Most parents desire good classroom performance from their children. At Pinegrove, there is profound and persistent efforts in making children perform well academically. To encourage children who excel in academics (Gold and Silver) STARS are awarded depending on their performance in each result. Improvement Stars for remarkable efforts are also awarded after each result.</p>
                                  </div>

                        <div class="col-md-12">
                           <h4>Diamond Star:</h4>
                            <p>A special star called the `Diamond Star` has been introduced to encourage `goodness`. Evaluation of this is done collectively by heads, teachers, matrons, hobby staff, physical training staff and students alike. We in Pinegrove sincerely believe that developing the value systems and discipline in a child is far more important than developing the academic and physical traits of the personality. The school awards `Diamond Stars` to selected students twice a year.</p>
                            <h4>Parent-Teacher Meetings:</h4>
                            <p>Continuous evaluation of the development of the students is of prime importance to both parents and teachers alike. It is in the best interest of the child that the parents and teachers form a cohesive team in working to achieve this objective. Hence, parents are constantly encouraged and are provided with opportunities to interact with the teachers and to assist and share in the progress of their children. All teachers are available for meeting parents on the afternoons of the start and end of the visiting weekends between 1430 to 1600 hrs.</p>
                            <h4>Tuitions:</h4>
                            <p>It is imperative that children who come to a boarding school reach a level of independence and should manage to keep up with the rigorous routine without demanding extra time for achieving the desired academic standards of the class. <br />Nevertheless, in very special cases the school arranges extra tuition for new children, especially Non Resident Indians (NRIs). These tuition classes are generally arranged for the first academic year and in junior classes only so that they can come up to the mandatory didactic standards of the school. </p>
                            <p>Continuous extra-tuitions are discouraged as it curtails the child''s participation in other activities, which are very necessary for the development of the child and take away the very spirit and essence of a happy and fruitful childhood.</p>
                            <h4>Winter Study Camp:</h4>
                            <p>Pinegrove is a winter closing school and hence there is a long vacation before the children are to appear for the final CBSE Board Examination. It is reasonably unfair to expect the child and the parents to organise tuitions at home and also ensure that the child produces a good result thereafter. </p>
                            <p>Hence the school, each year, makes provision for a Winter Study-Camp for all the Board appearing students so that they get fine-tuned and well prepared for the Board Examination. </p>
                         </div>
                      </div>
              </section>
    </div>



{% endblock %}
