{% extends 'base.html' %}


<head>
    <title>Activities</title>
</head>

{% block content %}

    <div class="inner-page-top-sapce"></div>
              <section class="text-style" >
                  <div class="container inner-page-padding">
                    <div class="row">
                          <div class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            <div class="title">
                                <h3>Activities</h3>
                            </div>
                                <h4>Co-curricular & Extra-curricular Activities</h4>
                                <p><b> Co-curricular activities </b> like Music (Indian, Vocal and Instrumental), Art, Craft, Painting,Macrame ,Stitching, Knitting, Embroidery, Gardening, Mass PT, Gymnastics, Band (Brass and Bugle) and Karate are offered in the school curriculum. </p>
                                <p>Extra-curricular activities like Dance, Drama, Debates, Declamations, Quiz, Recitations, Parade, Camps and Excursions are also incorporated in the calendar and are conducted under the supervision of teachers.</p>
                               </div>
                                 <div class="col-md-3 then-imgx4">
                                  <img class="img-show" src="../smapp/static/images/Art1.jpg" alt="Art" class="img-fluid">
                                </div>
                                <div class="col-md-3 then-imgx4">
                                  <img class="img-show" src="../smapp/static/images/music-room-01.jpg" alt="music room" class="img-fluid">
                                </div>
                                <div class="col-md-3 then-imgx4">
                                  <img class="img-show" src="../smapp/static/images/Boys Army 2.jpg" alt="Boys Army" class="img-fluid">
                                </div>
                                <div class="col-md-3 then-imgx4">
                                  <img class="img-show" src="../smapp/static/images/needle_02.jpg" alt="needle Machine" class="img-fluid">
                                </div>
                                 <div class="col-md-12">
                                     <p>All children are encouraged to pursue some socially useful productive work (SUPW) apart from their usual academic and other physical activities. These activities are conducted during hobby sessions, which are an integral part of the school curriculum. These activities provide ample opportunity to the children for developing their artistic ability, technical skills and aesthetic sense.</p>
                                     <p>The activities also improve the co-ordination of the body and mind and are very important for building a sound physique, an upright and correct posture and for smart deportment, turn out and discipline.</p>
                                 </div>
                         </div>
                      </div>
             </section>
              <section class="text-style" >
                  <div class="container inner-page-padding">
                    <div class="row">
                        <div class="col-md-12">
                           <h4>Classrooms and Teacher-Student ratio:</h4>
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/110.jpg" alt="student" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/111.jpg" alt="Pinegrove" class="img-fluid">
                        </div>
                       </div>
                      <div class="row">
                          <div class="col-md-12">
                           <h4>Inter-House and Inter-School Activities:</h4>
                              <p>Inter-House competitions are regularly held in various co-curricular and extra-curricular activities. These competitions give the children ample opportunity to display their skills and are conducted through activities such as House shows (cultural programmes), poem recitations, story telling, debates, declamations, quiz, rangoli, dancing, group singing, Mass PT, Orchestra etc.</p>
                        </div>
                         <div class="col-md-3 then-imgx4">
                            <img class="img-show" src="../smapp/static/images/Activity1.jpg" alt="Activity" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                            <img class="img-show" src="../smapp/static/images/Activity2.jpg" alt="Activity" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                            <img class="img-show" src="../smapp/static/images/Activity3.jpg" alt="Activity" class="img-fluid">
                        </div>
                        <div class="col-md-3 then-imgx4">
                            <img class="img-show" src="../smapp/static/images/Activity4.jpg" alt="Activity" class="img-fluid">
                        </div>
                           <div class="col-md-12">
                         <p>Pupils are regularly sent to participate in Inter-school competitions as well. <br /> Each of the schools have an auditorium where the children get an opportunity to go onto the stage and perform in various activities so that they may effectively learn the art of public speaking and get rid of <b> 'stage-fear'</b>.</p>
                        </div>
                             <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/Dance.jpg" alt="Dance" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/dance_02-314x198.jpg" alt="dance" class="img-fluid">
                        </div>
                      </div>
                      </div>
                 </section>

                 <section class="text-style" >
                  <div class="container inner-page-padding">
                      <div class="row">
                          <div class="col-md-12">
                           <h4>Camps and excursions:</h4>
                              <p>Outdoor camps, treks and tours are organized every year to give the children an opportunity to see the interiors of Himachal Pradesh and Uttaranchal and to get some educational and recreational exposure. </p>
                              <p>The importance of these outdoor and adventure activities cannot be undermined as they offer the children experiences to face the hardships and challenges of life and would also inculcate in them a spirit of adventure and love for wildlife and nature.</p>
                              <p>Camps also provide a splendid opportunity for the teachers to get to know their children much better, through greater and personal interaction and to understand the other facets of their personalities, which are difficult to observe in the classroom. </p>
                              <p>Likewise, children also learn to communicate with each other and their teachers on a more informal level.</p>
                        </div>
                       <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/Foreign-Trip1.jpg" alt="Foreign-Trip" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="../smapp/static/images/109.jpg" alt="pinegrove" class="img-fluid">
                        </div>
                      </div>
                      </div>
             </section>



{% endblock %}

