{% extends 'base.html' %}

{% block content %}

<head>

    <title>Fees Structure</title>
</head>
<body>

<div class="top-space"></div>


    <div class="inner-page-top-sapce"></div>
    <section class="text-style about-us">
        <div class="container inner-page-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="title text-center">
                        <h3>Schedule of Fees</h3>
                    </div>
                    <h4>Fees</h4>
                    <p>Each year a <b>Schedule of Fees </b>is published in the month of December reflecting the details of the fee structure for the ensuing academic session and is sent to all parents. This fee includes tuition, boarding, lodging, books, stationery, laundry and toiletries and other miscellaneous overhead expenses of the school but does not include expenditure on clothing, uniforms, personal items, medicines, camps and excursions.</p>
                    <br />
                </div>

                <div class="col-md-12">
                    <h4>Schedule of Fees for Session 2020-21</h4>
                    <h6><strong>RESIDENT INDIANS RECURRING (Annual)</strong></h6>
                    <table style="width: 100%">
                        <tbody>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px;">Tuition Fees (Including SMART classes, IT Education, Books &amp; Stationery)</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong> Rs. 260,000 </strong> 	</td>
                            </tr>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #ecf4f9;">
                                <td style="width: 70%; padding:10px 20px;">Boarding &amp; Lodging</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong>Rs. 130,000</strong> </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px;">Miscellaneous Sundry, and Incidental Contingencies (including activities, games and sports, art/craft, SUPW, hobbies, gardening, advertisements, in-house Tournaments, laundry, recreation, printing, postage, insurances, telephones, vehicles/generators, development, repairs, campus maintenance etc.) </td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong>Rs. 130,000 </strong>	</td>
                            </tr>
                        </tbody>
                    </table>
                    <br /> <br />
                    <h6><strong>NON RECURRING(For New Admissions Only)</strong></h6>
                    <table style="width: 100%">
                        <tbody>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px; ">Registration Fees</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong>Rs. 5,500 </strong>	</td>
                            </tr>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #ecf4f9;">
                                <td style="width: 70%; padding:10px 20px;">Caution Money/Security (Refundable)</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong> Rs. 25,000 </strong>  </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px;">Admission Fee</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong> Rs. 50,000 </strong>	</td>
                            </tr>
                        </tbody>
                    </table>
                    <br /> <br />
                    <h6><strong>NON RESIDENT INDIANS/FOREIGNERS RECURRING (Annual)</strong></h6>
                    <table style="width: 100%">
                        <tbody>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px;">Annual Fees</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"> <strong>US$ 7,500  </strong></td>
                            </tr>

                        </tbody>
                    </table>
                    <br /> <br />
                    <h6><strong>NON-RECURRING (For New Admissions only)</strong></h6>
                    <table style="width: 100%">
                        <tbody>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #d5e0e7;">
                                <td style="width: 70%; padding:10px 20px;">Admission</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong>US$ 2,000 </strong> 	</td>
                            </tr>
                            <tr style="border-bottom: 1px solid #adb5bd; background-color: #ecf4f9;">
                                <td style="width: 70%; padding:10px 20px;">Registration</td>
                                <td style="width: 20%; padding:10px 20px; text-align: right;"><strong>US$ 250 </strong>	</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-12"> <br />
                    <h5>Note :</h5>
                    <div class="row">
                        <span class="col-md-1 bn">1.</span>
                        <p class="col-md-11">Uniforms, personal sports gear and clothing will be provided by the parents.</p>
                        <span class="col-md-1 bn">2.</span>
                        <p class="col-md-11">10% concession will be given on Boarding &amp; Lodging. To the second child or subsequent children</p>
                        <span class="col-md-1 bn">3.</span>
                        <p class="col-md-11">15% Fee concession is offered to Serving Defense Personnel. Special concessions may be offered to war widows, orphans, extremely poor or deserving children </p>

                        <span class="col-md-1 bn">4.</span>
                        <p class="col-md-11">In the first year, all fees and other payments will be paid in one lump sum. </p>

                        <span class="col-md-1 bn">5.</span>
                        <p class="col-md-11"><em><strong>Fees once paid, in the first year, is acceptance of the admission offered and will not be refunded under any circumstances.</strong></em></p>

                        <span class="col-md-1 bn">6.</span>
                        <p class="col-md-11">Fees paid in the subsequent years may be paid in two or maximum three equal installments. The first installment has to be paid as the advance reservation of seat for the oncoming new academic session at the end of the previous session i.e. in the month of December. The second installment is to be paid in Feb/March at the start of new session and the third in the month of June/July.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}