
{%  extends 'base.html' %}
{% load static %}
{% block content %}



<div class="inner-page-top-sapce"></div>
              <section class="text-style about-us" >
                  <div class="container inner-page-padding">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="title">
                                <h3>Games & Sports</h3>
                                <p>A world famous dictum states that,<b> "The Battle of Waterloo was fought and won on the playing fields of Eton"</b>. No better image can be portrayed of the importance of sports for character building.</p>
                            </div>
                         </div>
                         <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/DSC_0087.jpg'%}" alt="Games & Sports" class="img-fluid">
                        </div>

                        <div class="col-md-12">
                           <p>Sports hold an important and prominent place in the school curriculum and immense stress is laid on regular games and sports being played by the students to keep them physically fit and mentally alert.</p>
                           <p>Various sports are played within the school to give maximum students an opportunity to play organized competitive games and to develop in them the essential qualities of friendship, sportsmanship, esprit-de-corps, brotherhood and comradeship so vital for personality development. Inter-School and Inter-House fixtures are regularly played by the students in various disciplines of sport. Children who may not have an inclination nor have innate talent for sports are made to play in non-player matches, which are conducted regularly.</p>
                      </div>
                        <div class="col-md-12">
                         <h4>Classrooms and Teacher-Student ratio:</h4>
                        </div>
                        <div class="col-md-3 then-imgx4">
                          <img class="img-show" src="{% static 'images/Cricket1.jpg'%}" alt="Games & Sports" class="img-fluid">
                        </div>

                         <div class="col-md-12">
                         <h4>Playfields and Playing Courts:</h4>
                             <p>The field at Dharampur is fitted with the latest <b> "Sport`s Lighting"</b> and is one of the only of its kind available at school-level. The flood-lights on this field facilitate playing of major games like Cricket, Hockey and Soccer at night as well.</p>
                            <p>Facilities of a large natural-turf playing field for all major games, with an oval 200 M track and straight 100 M track are available in both the schools.</p>
                         </div>
                         <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Hockey1.jpg' %}" alt="Games & Sports" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/SquashCourt1.jpg' %}" alt="Games & Sports" class="img-fluid">
                        </div>
                        <div class="col-md-12 inner-arow pl-4 pr-5">
                            <p>A beam bar, wall bars, climbing ropes, high horse, parallel bars, crash mats, spring boards etc are available for Gymnastics as well. The school also has facilities for the following: </p>
                           </div>
                            <div class="col-md-5 inner-arow pl-5">
                                <ul>
                                <li><i class="fas fa-running"></i><strong> A national sized Swimming Pool </strong></li>
                                <li><i class="fas fa-running"></i><strong> Squash Court </strong></li>
                                <li><i class="fas fa-running"></i><strong> Gymnasium </strong> </li>
                                <li><i class="fas fa-running"></i><strong> Indoor Badminton Court </strong> </li>
                            </ul>
                            </div>
                            <div class="col-md-5 inner-arow">
                                <ul>
                                <li><i class="fas fa-running"></i><strong> A 10Mtr Shooting Range </strong></li>
                                <li><i class="fas fa-running"></i><strong> Hard surfaced Basketball Courts</strong></li>
                                <li><i class="fas fa-running"></i><strong> Tennis Court</strong></li>
                                <li><i class="fas fa-running"></i><strong> Along with other facilities for indoor sports like Table Tennis, Carrom, Pool, Chess etc </strong></li>
                            </ul>
                            </div>

                         <div class="col-md-12"> <br />
                         <h4>Inter-House and Inter-School Games and Sports:</h4>
                         </div>
                         <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/TT1.jpg' %}" alt="Games & Sports" class="img-fluid">
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Audi_dpr.jpg' %}" alt="Games & Sports" class="img-fluid">
                        </div>
                        <div class="col-md-12">
                            <p>Inter-House competitions are scheduled throughout the year and are religiously held in various games and sports. These competitions give the children ample opportunity to display their skills. </p>
                            <p>Inter-House matches are played within the school to give maximum students an opportunity to play in an organized competitive sport. The school organizes an Inter-House Athletics Meets every year along with various Tournaments in Cricket, Hockey and Basketball. </p>
                         </div>
                      </div>
                  </div>
             </section>

{% endblock %}
