{% extends 'base.html' %}

{% block content %}
{% load static %}
    <head>

    <title>New Developments</title>
</head>

    <div class="about-us">
         <div class="inner-page-top-sapce"></div>
              <section class="text-style" >
                  <div class="container inner-page-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h3>New Developments</h3><br>
                            </div>
                         </div>
                          <div class="col-md-12">
                         <h4>Sports Complex at Dharampur :</h4><br>
                        </div>
                        <n
                         <div class="col-md-6 then-img">
                          <img width="960px" height="628px" class="img-show" src="{% static 'images/Sports_Complex.jpg' %}" alt=" Dharampur Auditorium" class="img-fluid">
                        </div>
                        <br>

                        <div class="col-md-12">
                         <h4>Sangam Setu at Subathu :</h4><br>
                        </div>
                        <div class="col-md-6 then-img">
                          <img class="img-show" src="{% static 'images/Sangam_Setu.jpg' %}" alt=" Dharampur Auditorium" class="img-fluid">

                        </div>
                      </div>
                      <br>
                  </div>
             </section>
        </div>
{% endblock %}

