{% extends 'base.html' %}
{% block content %}

<head>
    <title>Parents</title>
</head>

<div class="block-content">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-_custom_display">
          <div class="field-items"><div class="field-item even" property="content:encoded"><a name="top" id="top"></a>
              <p><strong>PARENT</strong> involvement continues to challenge practitioners engaged in school reform despite being a
                  required component of many school improvement initiatives-from Title I Schoolwide Programs to
                  federally mandated school improvement plans. The benefits of parent involvement are clear: A growing
                  body of research shows that successful parent involvement improves not only student behavior and
                  attendance but also positively affects student achievement. Yet many schools continue to struggle
                  with defining and measuring meaningful parental involvement, and many don't feel that their efforts
                  are successful. A recent survey of American teachers revealed that 20 percent of new teachers and
                  nearly one fourth of principals identify their relationships with parents as a cause of significant
                  stress in their jobs (MetLife, 2005).</p><p>In this article, we offer research-based advice and
                  resources designed to help schools and districts foster successful parent involvement.</p>
              <div class="contentbox"><a name="parent" id="parent"></a><h3>What is successful parent involvement?</h3>
                  <p>Successful parent involvement can be defined as the active, ongoing participation of a parent or
                      primary caregiver in the education of his or her child. Parents can demonstrate involvement at
                      home-by reading with their children, helping with homework, and discussing school events-or at
                      school, by attending functions or volunteering in classrooms. Schools with involved parents
                      engage those parents, communicate with them regularly, and incorporate them into the learning
                      process.</p></div><div class="contentbox">
                  <a name="barriers" id="barriers"></a><h3>What are the barriers to successful parent involvement?</h3>
                  <p>Schools often don't engage parents because they don't think they can. "A lot of it is perception.
                      Teachers perceive that families don't want to be involved when, in fact, families don't know how
                      to be involved," says Karen Salinas, communications director for the Center on School, Family,
                      and Community Partnerships at Johns Hopkins University.</p><p>For their part, parents are sometimes
                  hesitant to become involved in school because they don't have extra time or because they don't speak
                  fluent English. But "the biggest problem is the disconnect between the school and the families,"
                  says Salinas. "Parents believe that they are not welcome. It comes in part from their own education
                  history. They often have had a less-than-satisfactory experience with their own schooling, and so
                  they don't feel like [being involved] is guaranteed to be a good experience."</p><p>Despite these
                  communication barriers, both schools and parents want the relationship to improve, if only for the
                  benefit of students. A 2003 analysis of more than 25 public opinion surveys by Public Agenda, a
                  nonpartisan public opinion research organization, found that 65 percent of teachers say their students
                  would do better in school if their parents were more involved, and 72 percent of parents feel that
                  children whose parents are not involved sometimes "fall through the cracks" in school (Johnson &amp;
                  Duffett, 2003).</p></div><div class="contentbox">
                  <a name="how" id="how"></a><h3>How do schools foster successful parent involvement?</h3><p>Schools
                  successful in engaging parents start by going beyond narrow definitions of involvement. They don't
                  just count the number of parents who attend the spaghetti dinner or volunteer at the book fair.
                  They don't focus on requirements such as having parents sign reports cards. Instead, they start with
                  a belief that student success is a shared interest of both school and family, envision parents as
                  partners in the learning process, and then identify concrete ways that partnership can be activated.</p>
                  <h3>Improve Communication</h3><p>Effective communication requires a two-way flow of information. While
                  most schools develop efficient structures for getting information out-such as newsletters, Web sites,
                  and press releases-far fewer develop similar structures to ensure that feedback from parents is actively
                  solicited.</p><p>For some schools, improving communication involves technology such as e-mail messages
                  and interactive phone systems. When Stonewall Jackson High School in Manassas, Virginia, implemented
                  an interactive voicemail, for instance, the school saw parental attendance at freshmen orientation jump
                  from 50 to 1,000 (Viadero, 1997). Parents can use the system, called ParentLink, to hear messages from
                  teachers about what is happening in their children's classes and access their children's grades and
                  attendance records.</p>    <p>Other schools try to view parent involvement through the parents' eyes.
                  B.F. Day Elementary in Seattle, for example, holds parent meetings and workshops not at the school but
                  in a Family Center that operates in the neighborhood where many of their bilingual families live.</p>
                  <p> Of course, the use of any strategy must be tailored to the school's population. If families don't
                      have reliable access to the Internet, e-mail won't work. A phone message in English won't communicate
                      much to parents who speak only Spanish. The bottom line for schools is to communicate using strategies
                      that convey what is important in a way that can be heard by parents and families and invites them to
                      respond.</p><div class="sidebar">    <h3>Resources</h3>    <p>
                  Maryland's Parent Advisory Council formed a subcommittee
                  on nontraditional school-parent communication.</p>
                  <p>The National Network
                      of Partnership Schools at Johns Hopkins University offers school-family communication suggestions
                      and success stories.</p>    <p>For more information on family involvement in Seattle Public Schools,
                      visit the </div></div><p>
                  <div class="contentbox"><a name="teach" id="teach"></a>
                  <h3>Teach both parents and teachers</h3>      <p>We know that one thing that keeps parents from being
                      involved is their discomfort with schools. And that discomfort often stems from parents not knowing
                      how to be involved. Schools with a commitment to parent involvement take an active role in helping
                      parents learn a variety of ways to be involved. The benefits for students are proven: A recent review
                      of parent involvement research found that parent-child reading activities produce a significant
                      improvement in children's language and reading skills from preschool through high school (Sheldon &amp;
                      Epstein, 2005); another study finds a strong positive effect on student achievement when parents work with
                      students on homework (Van Voorhis, 2003).</p>    <p>Many schools use workshops and other school-based
                      programs to help parents learn about what goes on in classrooms. For example, Clara E. Westropp School
                      in Cleveland, Ohio, held monthly family reading nights. Parents go to the elementary school and read
                      with their children as well as speak with teachers about reading and reading strategies (Epstein &amp;
                      Salinas, 2004). Even traditional involvement strategies present teaching opportunities. Sending home
                      a "weekly work folder" is one positive step, but providing parents with specific information about
                      what to look for in the student work goes one step further in communicating what's important.</p>
                  <p>The National Network of Partnership Schools at Johns Hopkins University has designed a useful
                      teacher-parent partnership process called Teachers Involve Parents in Schoolwork (TIPS). TIPS aims
                      to forge a three-way relationship between teachers, parents, and their children through a creative
                      approach to homework. Among its goals are encouraging parents and children to talk regularly about
                      schoolwork, sharing ideas, gathering reactions, interviewing, or otherwise encouraging interaction
                      between student and family members. TIPS also aims to keep assignments linked to real-life situations
                      and "enable parents and teachers to frequently communicate about children's work, progress, and
                      problems" (National Network of Partnership Schools, 2005). Some studies show secondary school
                      homework assignments that require parent-student interaction predict higher levels of reading
                      achievement (Sheldon &amp; Epstein, 2005).</p>    <p>Many teachers report feeling unprepared to
                      effectively involve parents. As a means of breaking down these barriers, teachers in the Sacramento,
                      California, area have been trained since 1998 to participate in structured visits to their students'
                      homes. The first visit focuses on establishing trust, while later trips give teachers and parents a
                      chance to discuss ways in which parents can support students with the material they are learning in
                      school. The schools involved in the program have seen a reduction in discipline problems and increases
                      in attendance rates, and also are starting to see achievement gains.</p><div class="sidebar">
                      <h3>Resources</h3>        <p>The

                          Parent-Teacher Home Visit Project in Sacramento tells how its vision led to statewide changes.</p>
                  </div></div><p></p><div class="contentbox">
                  <a name="person" id="person"></a><h2>Personalize</h2>
                  <p>Successful parent-involvement programs typically develop in response to a specific need in the school
                      or its community and are both focused and flexible in addressing that need. A strategy that works in
                      one school might not be the best choice for another. For instance, while Sacajawea Elementary School
                      in Seattle has established a Parent Mentor program in which parents are designated to contact other
                      families to tell them about school activities, another school in the same city, High Point Elementary,
                      began a program that allows parent volunteers to earn points toward rewards such as computers and other
                      educational materials. Both programs have been recognized for dramatically increasing parent involvement.</p>
                  <p>Successful parent-school partnerships are not stand-alone, add-on programs. Instead, they are well integrated
                      with the school's overall mission. Typically, quality programs are developed in collaboration with parents
                      and reflect their needs and interests. Offering child care, translators, and multiple opportunities to hear
                      information go a long way toward expressing a school's genuine interest in parent input.</p>Family Involvement in Children's Education</a>
                  offers a useful primer for how to set up family-involvement partnerships, offering guidelines and case studies.</p>
                  The Northwest Regional Educational Laboratory (NWREL) published
                  Parent Partners: Using Parents to Enhance Education, a booklet that examines how and why schools should foster family involvement.</p>
                  <p>Note: NWREL's Parent Partners booklet has recently been updated and is called
                      Building Trust with Schools and Diverse Families: A Foundation for Lasting Partnerships</a>.</p></div></div>
              <div class="contentbox"><a name="conc" id="conc"></a>
                  <h3>Conclusion</h3><p>Parents are the most important partner in a child's education and schools can reap large dividends by
                      capitalizing on their support. To be sure, such relationships require a lot of work by both educators and parents. Although success will not come easy,
                  the rewards are too great for a school not to try.</p>
              </div>
      </div>
</div>
</div>



{% endblock %}