{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Teachers</title>
</head>

<h3>Improving teaching practice</h3>
<div id="practice" class="anchor"></div>
<p>You have a “teaching practice” — not a “teaching perfection.” This little play on words emphasizes the central
    point that practice implies continuously working to get better. Like any worthwhile activity, teaching centers
    on a core set of skills supporting the overall work, and the best teachers work on improving those skills bit by
    bit, day by day.</p>
<p>What can you do to improve your skills?</p>
<h3>Watch your colleagues</h3>
<p><img width="500px" height="300px" class="alignright wp-post-image" src="{% static 'images/screen-time-at-easter-how-much-is-too-much-time-online-for-your-kids-136426018191202601-180324143800.jpg' %}"  alt="" />
    <br>
    We recently surveyed our staff on what they need most to grow professionally. Right near the top of the list was the desire
    to spend time in their colleagues’ classrooms.</p>
<p>There is something to be said for simply sitting and watching respected and dedicated co-workers practice their craft.
    Speak to your administration about putting a schedule together to spend time around the building or school district.
    Teaching can become an isolating profession if we allow it to be, and getting into other people’s classrooms breaks
    down those walls and helps teachers grow in the process.</p>
<p>Be sure to follow up with specific questions and, perhaps, advice for your host. Ask them why they did certain things,
    how they work with challenging students and why they chose to teach what they did when they did. You’ll take away
    valuable information and offer them a chance to be introspective.</p>
<h3>Use technology to see others in action</h3>
<p>The explosion of connection in our culture due to technology has been nothing short of amazing. With a few quick
    search terms and some time on the computer, a teacher can find examples of good practice and the research that
    supports it. Not only will you be able to take away specific tips for improving your skills — organizing student
    work, maximizing the effectiveness of homework, etc. — but you’ll also be able to make connections with colleagues
    who otherwise would be unavailable to you. I strongly suggest that you foster those connections and rely upon them
    for advice.</p>
<h3>Listen to those who see you every day</h3>
<p>One of the ironies of how we evaluate teacher performance is that we don’t offer to listen to those who see it the
    most — the students. Offering your students the opportunity to share their thoughts about your practice and its
    effectiveness requires a high level of trust in them, and a lot of comfort in your ability to receive the feedback.
    Yet this feedback may be the most valuable as it enables you to get unvarnished thoughts and suggestions, and
    affirms the students’ role in the classroom.</p>
<p>One strategy I used as a classroom teacher was to leave an open-ended question at the end of a test where students
    could comment on how well I helped them learn the material. I encouraged them to look at their preparation
    (how much they studied, time they dedicated to the work and what strategies they used) but also share how well
    I explained the material and how I could have done that better. Yes, this required a leap of faith on my part,
    but I never regretted the advice I received.</p>
<h3>Look around your classroom</h3>
<p>You need a balance between relying on tried-and-true classroom practices and guarding against growing stale. A
    helpful tip that I received early in my career was to invite trusted colleagues into the classroom and ask for
    them to offer their thoughts on the presentation/setup of the room. Does it look like it did five or 10 years ago?
    Are the same decorations going on the wall (or not all)? Is it boring?</p>
<p>Based on their advice, consider switching things up or making a fresh trip to the teacher store. As little as
    it may seem on its face, switching up the presentation of the room sends a strong visual message to your students
    about your attitude toward them and the subject matter.</p>
<h3>Building collegiality to become a better teacher</h2>
<div id="collegiality" class="anchor"></div>
<p>On its face, teaching looks like an individual profession. A teacher, usually the sole adult in the classroom,
    has the responsibility to work with a group of children on a certain subject over the course of a year. Digging
    deeper, however, reveals that successful teachers are far from alone in their profession, but instead have built
    strong relationships with colleagues over time.</p>
<p>Here’s a look at how you can build collegiality in your teaching life:</p>
<h3>Strengthen connections</h3>
<p>
    <br>You&#8217;ll often hear primary-grade teachers advising their students that &#8220;the best way to get a friend is
    to be a friend.&#8221; This adage also applies to teachers and their colleagues.</p>
<p>The weight of our work — lesson planning, student behavior management, meeting school and state expectations,
    working effectively with parents, etc. — adds up over time, which makes it essential to have a nearby support
    system of colleagues.</p>
<p>Don&#8217;t hesitate to walk down the hall and welcome a new teacher. I assure you that a friendly greeting
    comes as a great relief to someone just starting. For your more veteran colleagues, offer to help them whenever
    you can. This can consist of sharing resources, helping with classroom setup and giving advice. Developing these
    connections before a crisis erupts is essential.</p>
<h3>Focus on student experiences</h3>
<p>Don&#8217;t limit yourself to building relationships with colleagues who share a similar grade level or subject matter.
    Rather, find colleagues who like to focus on activities that are best for the children. This can include schoolwide
    learning projects, social service activities or special functions and assemblies.</p>
<p>One of the most gratifying parts of my job is attending a large group activity where colleagues go above and beyond
    to bring learning to the children. I&#8217;ve also found that out-of-the-classroom experiences — assemblies,
    special guests and so on — really set the cultural tone for the buildings.</p>
<h3>Build positive relationships</h3>
<p>An organization’s success depends upon the quality of the relationships of its people. When co-workers realize that
    their colleagues are caring, supportive and focused on doing the right thing, then great things can follow.</p>
<p>This places an important focus on mindset and attitude. Rather than getting pulled into the petty politics and sour
    attitudes of disillusioned colleagues, try focusing on the positive aspects of your school. Be the positive member
    of the staff, regardless of the challenges, and you&#8217;ll find that like-minded colleagues will be drawn to you.</p>
<h3>Break bread together</h3>
<p>I once read of a study that showed that people bond all the more closer when they have a shared social experience.
    The experiment brought members of two hostile factions together and had them sit and share a meal consisting of
    delicacies from both cultures. Another group sat at the same table and simply spoke to each other but with no food.</p>
<p>The results showed that the exchange of food and informal conversation over the meal helped break down barriers and
    bond the group. Bring that same attitude toward your colleagues. Invite them to lunch or order in from time to time.
    Talk about things other than your work and let human nature do its work: Your bonds will be all the stronger for it.</p>
<h3>Remember, colleagues are mirrors</h3>
<p>Ultimately, we surround ourselves with mirrors of ourselves. We unconsciously seek out those who are like us, and
    \over time, we become more like each other.</p>
<p>Human beings are social beings. Our tendency to adopt other people’s attitudes and beliefs is unavoidable; it’s
    rooted in our primal need to survive. A group is far less likely to cast us out if we&#8217;re like them. That’s
    why it’s so essential to surround yourself with positive, caring and hard-working colleagues. They&#8217;ll become
    your best supporters as you continue to grow in your practice.</p>
<h3>Digging deeper into content knowledge</h3>
<div id="knowledge" class="anchor"></div>
<p>In the popular imagination, we used to have an educational landscape where teachers just naturally knew what to
    teach and when to teach it. Content sprang miraculously from their minds, got written down in old pen-based plan
    books and magically became a part of every child&#8217;s classroom experience. Content flowed effortlessly from the
    teacher to the student and all was well in the classroom.</p>
<p>Of course it was never like that way back when, and it’s certainly not like that now.</p>

{% endblock %}