{% extends 'base.html' %}
{% block content %}

<head>
    <title>Withdrawal</title>
</head>

<div class="top-space"></div>
    <div class="inner-page-top-sapce"></div>
              <section class="text-style about-us" >
                  <div class="container inner-page-padding">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="title">
                                <h3>Withdrawal</h3>
                            </div>
                            <br />
                            <h4>Procedure for Withdrawal :</h4>
                            <p>Application for withdrawal should reach the School Office latest by the 15th of December to say that the child will not be returning to the school in the ensuing year. </p>
                            <p>Ordinarily no withdrawal should be made during the academic session, nonetheless, if the need arises withdrawal of a child from school has to be notified to the School Office, in writing, through registered post or by hand, by the parent or by the person who had got the admission formalities done. The date of receipt of the letter/application for withdrawal shall be treated as the date of withdrawal. A minimum of three month's notice is mandatory for withdrawal. Fees in full will be charged for the notice period of withdrawal.</p>
                            <p>According to School Rules, the Headmaster has the right to ask for the withdrawal of a child from the school, if he feels the situation so warrants and in his best judgement, he may not assign any reason for doing so. No fees shall be refunded in such cases. </p>
                          </div>
                        <div class="col-sm-12">
                            <h4>Refund of Fees :</h4>
                            <p>Refund of fees is not applicable in the first academic year of the child's stay in the school. </p>
                            <p>Refund of fees will only be applicable in the second or subsequent year of the child's education. Tuition fees will be charged for the full year and is not refundable under any circumstances. Refund will only be applicable for boarding and lodging fees and miscellaneous charges of the hostel in the second or subsequent year of the child's stay in the school. </p>
                            <p>The balance of fees will be refunded, excluding tuition fee, after taking into account the three month`s notice period for which fees in full will be charged.</p>

                            <h4>Refund of Security Deposit :</h4>
                            <p>Refund of security deposit should be requested for, in writing, to the school office within six months of the withdrawal of the child. No request will be entertained thereafter. </p>
                            <p>No refund of security deposit will be made if the advance fee for the reservation of the child's seat is not paid on time and notice of withdrawal, in writing, is not given at the end of the academic session.</p>
                    </div>

                      </div>
                      </div>

             </section>

{% endblock %}